<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdfZow18P7bqG9ma2n7XFt2s2cMRwXBgg</string>
	<key>GCM_SENDER_ID</key>
	<string>403975131436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siproject.gymroutine-mobile</string>
	<key>PROJECT_ID</key>
	<string>gymroutine-b7b6c</string>
	<key>STORAGE_BUCKET</key>
	<string>gymroutine-b7b6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403975131436:ios:75dec744fc44d482589c89</string>
</dict>
</plist>